.TableMap {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.TableMap::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.TableMap::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5em;
}

.TableMap:hover::-webkit-scrollbar-thumb {
    background: #f8c29659;
}

.TableMap::-webkit-scrollbar-corner {
    background: transparent;
}

.Host {
    position: relative;
    margin: 0.5em;
    scale: 0.85;
}

.Table, .Decor {
    position: absolute;
    background: var(--orange-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(var(--rotate));
    border-radius: 0.3em;
    color: white;
}

.Table {
    cursor: pointer;
    transition: background 0.4s, border 0.4s;
    border: solid 3px var(--orange-color);
}

.Table.Selected {
    background: transparent;
}

.Table.Disabled {
    background: lightgray;
    border: solid 3px lightgray;
    cursor: default;
}

.Decor {
    background: transparent;
    border: solid 3px var(--purple-color-1);
}

.Table.Round {
    border-radius: 50%;
}

.Table span, .Decor span {
    transform: rotate(calc(-1 * var(--rotate)));
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
}

@media (pointer:none), (pointer:coarse) {
    .TableMap::-webkit-scrollbar-thumb {
        background: #f8c29659;
    }
}