.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 40%;
    height: 80vh;
    margin: auto;
    text-align: center;
}

.login input {
    margin: 0.5em 0;
    padding: 0.5em 2em;
    background: #F3F1F1;
    color: black;
    border: none;
    line-height: 3.5em;
    width: 100%;
}

.login input::placeholder {
    color: black;
    opacity: 0.8;
}

.login button {
    padding: 1em;
    background-color: var(--purple-color-1);
    border: 2px solid var(--purple-color-1);
    color: white;
    width: 40%;
    transition: 0.4s;
}

.login button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    .login {
        width: 60%;
    }
}

@media screen and (max-width: 668px) {
    .login {
        width: 90%;
    }
}