@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root, body {
  width: 100%;
  height: 100%;

  --orange-color-light-1: #F8C296;
  --orange-color: #F6B17A;
  --orange-color-dark-1: #F4A361;
  --purple-color-1: #424769;
  --purple-color-2: #7077A1;
}

:global(#root) {
  height: 100%;
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(button) {
  border: none;
  background: var(--orange-color);
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background 0.4s;
}

:global(button):hover {
  background: var(--orange-color-light-1); 
}

:global(button):active {
  background: var(--orange-color-dark-1);
}